<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<title>hello</title>
</head>
<body>
	<div id="nav">
		<h1>Courses</h1>
	</div>

	<div class="jumbotron">
        <ul id="index">
            <li><a href="#">Corporate Reporting</a></li>
	        <li><a href="#">Advanced Audit & Assurance</a></li>
            <li><a href="#">Advanced Tax</a></li>
            <li><a href="#">Strategic Financial Management</a></li>
            <li><a href="#">Case Study</a></li>
<!--             <li><a href="#">Chat Room</a></li>
            <li><a href="#">Send Us A Message</a></li> -->
        </ul>		
	</div>
<script type="text/javascript" src="../public/script/script.js"></script>
</body>
</html>