body{
	background-color: black;
}
*{
    margin: 0px;
    padding: 0px;
}

#pally{
    background-color: #2CC185;
    height: 100%;
    width: 100%;
    position: absolute;
    animation: zeroWidth 1s 4.9s forwards;

}

#pally h1{
    color: #fff;
    font-size: 160px;
    position: fixed;
    margin-left: 30%;
    margin-top: 50%;
    animation: disappear 0.3s 4.9s forwards;
}

#menu{
    background-color: #2CC185;
    height: 100%;
    width: 60%;
    position: absolute;
    transition: 500ms all;
    margin-left: -700px;
}

#menu.active{
    margin-left: 0px;
}

#menu h1{
    color: #fff;
}

#nav{
    height: 150px;
    background-color: #2CC185;
    width: 100%;
}

#spanTog{
    float: right;
    padding: 10px;
    margin-top: 2.5%;
    margin-right: 7%;
    border: 1px solid #fff;

}

#home{
    float: left;
    padding: 10px;
    margin-top: 2.5%;
    margin-left: 7%;
    width: 50%;
    height: 70px;
}

.fa-bars{
    color: #fff;
    font-size: 70px;  
}

.fa-home{
    color: #fff;
    font-size: 70px; 
}

h1{
    font-family: 'Pacifico', serif;
    color: black;
}

@keyframes zeroWidth{
    100%{width: 0px}
}

@keyframes disappear{
    100%{margin-left: -700px}
}